services:
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    container_name: db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./db/data:/var/lib/postgresql/data
    restart: always
    networks:
      - matcha-network

  redis:
    build:
      context: ./redis
      dockerfile: Dockerfile
    container_name: redis
    env_file:
      - .env
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data
    restart: always
    networks:
      - matcha-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - db
      - redis
    restart: always
    command: npm run start:dev
    networks:
      - matcha-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    env_file:
      - .env
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: always
    command: npm run dev -- --host
    networks:
      - matcha-network

networks:
  matcha-network:
    driver: bridge
